# Remove all the semi-supervised UMAPs except the 0.99 ones
*0.1.png
*0.25.png
*0.5.png
*0.75.png

# Some large figures, but keep the compressed ones up
watercolor_chip_masked.png
watercolor_chip.png
wafer_collage.png
diagram_MAE.png
